<header class="header">
    <!-- {{ partial "svgs/monogramadouradocfundo.svg" . }} -->
    
    <!-- <img src="https://res.cloudinary.com/dbntshoo1/image/upload/v1724344605/monogramadourado_p6awrd.svg"
                    alt="Cantinho das Buganvilias" style="max-height: 70%; max-width: 90%; width: auto;"> -->
    <img src="https://res.cloudinary.com/dbntshoo1/image/upload/v1724425724/monogramadouradocletras_rngz8z.svg"
                    alt="Monograma" style="max-height: 70%; max-width: 90%; width: auto;">
    <br>

    <!-- <p class="header__text header__text--light"style="font-family: 'Playlist Script', cursive; font-size: 3em;">Casamento de Mariana & Rui!</p>
    <p class="header__text header__text--light"style="font-family: 'Playlist Script', cursive; font-size: 3em;">Sábado, 4 de Outubro de 2025 em São Jorge</p> -->
</header>