<div class="nav-mobile">
    <div id="nav-mobile-menu-button" class="nav-mobile__button">
      <div id="nav-mobile-menu-burger" class="nav-mobile__burger"></div>
    </div>
    <nav id="nav-mobile-menu" class="nav-mobile__menu">
      <a class="nav-mobile__link" href="/#when">Dia do Casamento</a>
      <!-- <a class="nav-mobile__link" href="/#order-of-events">Plano do DIa</a> -->
      <a class="nav-mobile__link" href="/travel">Viagem</a>
      <a class="nav-mobile__link" href="/accommodation">Alojamento</a>
      <a class="nav-mobile__link" href="/#passeio">Visita à Ilha</a>
      <a class="nav-mobile__link" href="/#dress">O que vestir?</a>
      <a class="nav-mobile__link" href="/#gifts">Prendas</a>
      <a class="nav-mobile__link" href="/#more">Mais informações</a>
      <a class="nav-mobile__link rsvp-button rsvp-nav" href="/rsvp">Confirmação</a>
    </nav>
</div>
<!-- <nav class="nav-desktop" style="font-size: 1.5rem;"> -->
<nav class="nav-desktop">
<a class="nav-desktop__link" href="/#when">Dia do Casamento</a>
  <!-- <a class="nav-desktop__link" href="/#order-of-events">Plano do DIa</a> -->
  <a class="nav-desktop__link" href="/travel">Viagem</a>
  <a class="nav-desktop__link" href="/accommodation">Alojamento</a>
  <a class="nav-desktop__link" href="/#passeio">Visita à Ilha</a>
  <a class="nav-desktop__link" href="/#dress">O que vestir?</a>
  <a class="nav-desktop__link" href="/#dress">Prendas</a>
  <a class="nav-desktop__link" href="/#more">Mais informações</a>
  <a class="nav-desktop__link  rsvp-button rsvp-nav" href="/rsvp">Confirmação</a>
</nav>